<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uwr.app.module">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".Services.MyService"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>
